@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.justify-between {
    justify-content: space-between;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-right: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

body {
    font-family: 'Montserrat', sans-serif !important;
}

section {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
}

.btn-primary {
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
}

.btn-outline-primary {
    background-color: #fff !important;
    border-width: 2px !important;
    border-color: #6c63ff !important;
    color: #6c63ff !important;
    padding: .2rem .6rem !important;
    border-radius: 0.4rem !important;
}

::hover {
    color: #fff !important;
    background-color: #6c63ff !important;
}

.underline {
    height: 3px !important;
    color: #6c63ff !important;
    opacity: 1 !important;
    width: 40% !important;
    align-self: center !important;
    margin: 0px !important;
}


/* Dropdown Button */

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin: auto;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #fff;
    color: rgba(9, 10, 16, 0.9);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.mouse {
    font-size: 1rem !important;
    color: azure;
}

.cat {
    font-size: 1.5rem !important;
    color: azure;
}

.dog {
    font-size: 1.7rem !important;
    color: azure;
}

.lion {
    font-size: 2.5rem !important;
}

.icon {
    width: 24px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.icon-lg {
    width: 48px;
    cursor: pointer;
}

.icon-xlg {
    width: 72px;
    cursor: pointer;
}

.bi-bookmark {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    cursor: pointer;
}

.save {
    background: #f8f9fa;
    border: #f8f9fa solid;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn {
    color: red !important;
    font-size: 20px;
}

.bg-grey {
    background-color: #a4a4a42b;
}

.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.m-auto{
    margin: auto;
}