@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --dark-workspace-bg: rgb(17, 17, 24);
    --dark-code-bg: rgb(25, 30, 35);
    --accent-blue-dark: rgb(65, 157, 255);
}

html,
body {
    height: 100%;
    width: 100%;
    place-items: center;
    /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
    background: var(--dark-workspace-bg);
    color: white;
}

::selection {
    background: #fa4299;
    color: #fff;
}

.wrapper {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    max-width: 390px;
    background: var(--dark-code-bg);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    transform:scale(0.9);
}

.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    /* transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); */
}

.wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid var(--accent-blue-dark);
    border-radius: 5px;
}

.slide-controls .slide {
    height: 100%;
    width: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}


.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    /* background-color: #5100b5; */
    /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
    /* transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); */
}

.radio-active {
    color: #fff !important;
    background-color: var(--accent-blue-dark);
}

input[type="radio"] {
    display: none;
}

input[type="button"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    /* width: 200%; */
}

.form-container .form-inner form {
    width: 100%;
    /* transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55); */
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border-bottom-width: 2px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: left;
    margin-top: 20px;
}

.text-center {
    text-align: center;
    margin-top: 20px;
    /* display: flex; */
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #fa4299;
    text-decoration: none;
}

#label {
    color: #fa4299;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .btn {
    height: 70px !important;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

form .btn .btn-layer {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #5100b5 !important;
    /* background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299); */
    border-radius: 5px;
    transition: all 0.4s ease;
    ;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


/* The alert message box */

.alert {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}


/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

.r-flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.field input[type="text"], div.field input[type="password"]{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-top: 1px solid transparent;
    color: white;
}

form .btn .btn-layer{
    background: var(--accent-blue-dark) !important;
}

.field input[type="text"]:focus, .field input[type="password"]:focus{
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.slide-controls label.signup{
    color: white;
}
.w-50{
    width: 50%;
    text-align: center;
}