<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/hamburgers.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
  <link rel="stylesheet" href="{% static 'css/popup.css'%}">

  <title>Codeware - Untitled.py</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"
    integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"
    integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css"
    integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"
    integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js"
    integrity="sha512-tsjcYO5hFvViRssxiM7Jhd8601epWOx1He3Hl4yuI5dKKPxr43KxkOhc9GZeeqzlYJm9ABb7UPA9697NiqZZ7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closetag.min.js"
    integrity="sha512-XYx5xhl4B5vKNlaRBWh/nlti0+IPM6eT+dSFc3/oc4rERn2DpwbS3q4OblprqqBLXyRSVePKmf+8mHkDLtGZpg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <button class="hamburger hamburger--arrow" id="hamburger">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <form method="post" action="/save">
    {% csrf_token %}
    <header>

      <a href="/">
        <img src="{%static 'assets/logo.svg'%}" id="logo">
      </a>
      <div id="filename">Untitled.py</div>

      <select name="lang" id="filechooser" class="btn-type1">
        <option value="py">Python</option>
        <option value="c">C</option>
        <option value="cpp">C++</option>
        <option value="java">Java</option>
        <option value="js">JavaScript</option>
        <option value="dart">Dart</option>
      </select>

      <button class="circular-btn" id="run-btn" type="button"><i class="fa fa-play"></i></button>
      <button class="circular-btn" id="save-btn"><i class="fa fa-floppy-o"></i></button>
      <input id="import-file" type="file" accept=".py, .cpp, .c, .dart, .js" onchange="readFile(this)" hidden>
      <label for="import-file" class="circular-btn d-flex">
        <i class="fa fa-upload m-auto"></i>
      </label>
      <input id="form-submit" type="submit" hidden>
      <input id="form-filename" name="filename" type="text" hidden>

    </header>
    <main>
      <div class="tab-bar d-flex" id="tab-bar">
        <div class="tab" id="tab-0">
          Untitled.py
          <button type="button"><i class="fa fa-times"></i></button>
        </div>
        <button type="button" id="add-file"><i class="fa fa-plus"></i></button>
      </div>
      <div class="editor_wrapper" id="wrapper-0">
        <textarea name="code" id="editor-0">print("hello world !")</textarea>
      </div>

    </main>
  </form>
  <aside id="terminal">
    <div id="inputs-container">
      <div class="panel-title">Inputs</div>
      <textarea name="stdin" id="inputs"></textarea>
    </div>
    <div id="console-container">
      <div class="panel-title">Console<button id="clr-console">Clear</button></div>
      <div id="console"></div>
    </div>
  </aside>
  <footer></footer>


  <div id="sidebar" class="collapsed">

    {% if not auth %}
    <div id="sign-in-warner">
      <i class="fa fa-info-circle icon"></i>
      <span class="msg">Sign up / Sign in to see your files.</span>
      <a href="/accounts/login" target="_blank">
        <button class="btn-type1">Proceed<i class="fa fa-chevron-right"></i></button>
      </a>
    </div>
    {% else %}
    <div id="files-container">
      <h1>Files</h1>
      <ul style="overflow-y:auto">
        {% for k in user_files %}
        <a href="/open/{{k}}">
          <li>{{k}}</li>
        </a>
        {% endfor %}
      </ul>
      <div style="position:absolute;bottom:0;padding:1rem;justify-content:space-between;width:100%" class="d-flex">
        <div>
          <h3>{{username}}</h3>
        </div>
        <div><a class="btn" href="/accounts/logout">
            Logout
          </a></div>
      </div>
    </div>
    {% endif %}
  </div>
  <div id="popup_box">
    <h2>Save</h2>
    <input type="text" id="popup_input" placeholder="Enter you file name" value="Untitled" />
    <div id="wrapbox">
      <button class="popup_btn" style="background-color: rgb(255, 255, 255, 0.3); color: white;">Cancel</button>
      <button class="popup_btn" onClick="save()" style="color: white; background-color: rgb(65, 157, 255)">
        Save
      </button>
    </div>
  </div>
  <div id="blur-underlay"></div>
</body>

<script src="{%static 'js/editor.js'%}"></script>
<script src="{%static 'js/hamburger.js'%}"></script>
<script src="{%static 'js/console.js'%}"></script>
<script src="{%static '/js/popup.js'%}"></script>
<script src="{%static '/js/run.js'%}"></script>
<script src="{%static '/js/boilerplate.js'%}"></script>
<script src="{%static '/js/load_file.js'%}"></script>

</html>