<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Codeware - Untitled.txt</title>
</head>
<body>
    <header>
        <table id="header-layout">
            <tr>
                <td id="logo-container">
                    <img src="logo.svg" id="logo">
                </td>
                <td><button id="recents-btn" class="btn-type1">Recents</button></td>
                <td id="filename">Untitled.txt</td>
            </tr>
        </table>
    </header>
    <main></main>
    <aside></aside>
    <footer></footer>
</body>
</html>